h1,
h2,
h3,
h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.previousHiresMargin {
  margin-top: 5%;
}

// .myImage {
//     position:relative;
//     overflow:hidden;
//     padding-bottom:100%;
// }
// .myImage img{
//     position:absolute;
// }