@font-face {
    font-family: FFTisa;
    src: url("/fonts/FFTisa/TisaPro-Regular.otf");
}

@font-face {
    font-family: FFTisaItalics;
    src: url("/fonts/FFTisa/TisaPro-Ita.otf");
}

@font-face {
    font-family: FFTisaBoldItalics;
    src: url("/fonts/FFTisa/TisaPro-BoldIta.otf");
}

@font-face {
    font-family: FFTisaBold;
    src: url("/fonts/FFTisa/TisaPro-Bold.otf");
}

@font-face {
    font-family: FFTisaMedium;
    src: url("/fonts/FFTisa/TisaPro-Medi.otf");
}

@font-face {
    font-family: FFTisaMediumItalics;
    src: url("/fonts/FFTisa/TisaPro-MediIta.otf");
}

body,
html {
    min-height: 100%;
    position: relative;
}

body {
    background: #fff;
    font-family: "FFTisa";
    font-weight: 400;
    font-size: 16px;
    color: #444;
    margin: 0;
    position: relative;
}

.initialFontSize {
    font-size: initial;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.container.mainContainer {
    margin-right: auto;
    margin-left: auto;
}

.container {
    position: relative;
}

.options {
    font-family: "FFTisaBold";
    text-align: center;
    min-height: 100px;
    a {
        color: #444;
    }
    a:hover {
        color: #DB2856;
        text-decoration: none;
    }
}

.mdl-card {
    width: initial;
    z-index: 0;
    margin: 15px;
}

.valign-middle {
    display: table;
}

.valign-middle .columns {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
}

.marginTopBottom {
    margin-top: auto;
    margin-bottom: auto;
}

.topBottom {
    margin-top: 1%;
    margin-bottom: 1%;
}

.bottom {
    margin-bottom: 3%;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.fa-trophy {
    margin-left: 5px;
    margin-right: 5px;
}

::selection {
    background: lightgrey
}

.moreMarginTop {
    margin-top: 5%;
}

.centerText {
    text-align: -webkit-center;
}

.marginTop {
    margin-top: 3%;
}

.twentyPixelsMarginRight {
    margin-right: 20px;
}