<div class="container options valign-middle">
    <div class="col-md-12 studentCard">
        <ul>
        <li ng-repeat="student in students" class="row">
        <h2>{{student.fullName}}</h2>
        <h2>Your Company Preferences</h2>
        <h4 class="regularFont moreMarginTop">Your <b>1st</b> choice goes on <b>top</b>.</h4>
        <div class="row moreMarginTop centerText">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <ul ui-sortable class="apps-container" ng-model="student.preferences">
                    <li ng-repeat="studentCandidate in student.preferences" class="item">
                        <a ui-sref="student-preferences.company-view({id:studentCandidate._id})">{{studentCandidate.fullName}}</a>
                    </li>
                </ul>
            </div>
            <div class='col-sm-12 col-md-6 col-lg-6'>
                <ui-view></ui-view>
            </div>
        </div>
        <div class="row moreMarginTop centerText">
            <div class='col-md-12'>
                <button class="btn btn-view" ng-click="submit()">update preferences</button>
            </div>
        </div>
    </div>
    <!--  <ul ui-sortable="student.sortableOptions" class="col-md-4 apps-container list student-{{$index}}" ng-model="student.potentialCandidates">
        <li ng-repeat="potentialCandidate in student.potentialCandidates" class="item">{{potentialCandidate.name}}</li>
      </ul> -->
    <!-- <ul class="col-md-4 list logList">
        <li ng-repeat="entry in student.preferences track by $index" class="logItem">
          {{entry.name}}
        </li>
      </ul> -->
    <!-- </li> -->
    <!-- </ul> -->
    <h1>Companies</h1>
  <div class="row">
  <ul>
    <li ng-repeat="company in companies" class="col-md-4 ">{{company.fullName}}
      <ul ui-sortable ng-model="company.preferences" class="list apps-container">
        <li ng-repeat="companyCandidate in company.preferences" class="item">{{companyCandidate.fullName}}</li>
      </ul>
    </li>
  </ul>
 </div>
    <!-- <button class="btn btn-default" ng-click="submit()">Submit</button> -->
    <!-- <button class="btn btn-default" ng-click="match()">Stable Marriage</button>
  <button class="btn btn-default" ng-click="arrange()">Speed Dates</button>
 -->
    <!-- <ul> -->
    <!-- <li ng-repeat="sortingLog in sortingLogs"> -->
    <!-- <ul class="list logList">
    <li ng-repeat="entry in sortingLog track by $index" class="logItem">
      {{entry}}
    </li>
  </ul> -->
    <!-- </li> -->
    <!-- </ul> -->
</div>
