.regularFont {
    font-family: "FFTisa";
}

.teamMemberPhoto {
    max-width: 75%;
}

.trophy {
    max-width: 75%;
}

.studentCard {
    a {
        text-decoration: underline;
    }
}

.linksMarginTop {
    margin-top: 10%;
}

.projectPhoto {
    min-height: 100%;
    min-width: 100%;
}

.projectScreenshot {
    width: 100%;
    border: none;
}

.noBorderRadius {
    border-radius: 0;
    max-width: 100%;
    height: auto;
    display: block;
    border-style: double;
    border-width: 5px;
    border-color: #444;
}