.regularFont {
  font-family: "FFTisa";
}

.teamMemberPhoto {
  max-width: 50%;
}

.trophy {
  max-width: 75%;
}

.studentCard {
  a {
    text-decoration: underline;
  }
}

.linksMarginTop {
  margin-top: 10%;
}