<div class="container">
  <h1>Preferences</h1>
  <!-- <ul> -->
    <!-- <li ng-repeat="student in students" class="row"> -->
      <!-- <h2>{{user.fullName}}</h2> -->
<div class="row">
<div class="col-md-4">
  <ul ui-sortable class="apps-container" ng-model="user.preferences">
    <li ng-repeat="studentCandidate in user.preferences" class="item">
      <a ui-sref="company-preferences.student-view({id:studentCandidate._id})">{{studentCandidate.fullName}}</a>
    </li>
  </ul>
  </div>
  <div class='col-md-8'>
    <ui-view></ui-view>
  </div>
  </div>
     <!--  <ul ui-sortable="student.sortableOptions" class="col-md-4 apps-container list student-{{$index}}" ng-model="student.potentialCandidates">
        <li ng-repeat="potentialCandidate in student.potentialCandidates" class="item">{{potentialCandidate.name}}</li>
      </ul> -->

      <!-- <ul class="col-md-4 list logList">
    
        <li ng-repeat="entry in student.preferences track by $index" class="logItem">
          {{entry.name}}
        </li>
      </ul> -->
    <!-- </li> -->
  <!-- </ul> -->

  <button class="btn btn-view" ng-click="submit()">Update Preferences</button>

  <!-- <h1>Companies</h1>
  <div class="row">
  <ul>
    <li ng-repeat="company in companies" class="col-md-4 ">{{company.fullName}}
      <ul ui-sortable ng-model="company.preferences" class="list apps-container">
        <li ng-repeat="companyCandidate in company.preferences" class="item">{{companyCandidate.fullName}}</li>
      </ul>
    </li>
  </ul>
 </div> -->

  <!-- <button class="btn btn-default" ng-click="submit()">Submit</button> -->

  <!-- <button class="btn btn-default" ng-click="match()">Stable Marriage</button>
  <button class="btn btn-default" ng-click="arrange()">Speed Dates</button>
 -->
  <!-- <ul> -->
  <!-- <li ng-repeat="sortingLog in sortingLogs"> -->
  <!-- <ul class="list logList">
    <li ng-repeat="entry in sortingLog track by $index" class="logItem">
      {{entry}}
    </li>
  </ul> -->
  <!-- </li> -->
  <!-- </ul> -->

</div>
