<div class="container options valign-middle">
    <div class="col-md-12 studentCard">
<div class="row centerText bottom">
            <h2>Student Preferences</h2>
            <h3 class="regularFont">Your <b>1st</b> choice goes on <b>top</b>.</h3>
        </div>

<div class="row centerText marginTopBottom">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="row centerText">
                    <div ui-sortable ng-model="user.preferences">
                        <div ng-repeat="studentCandidate in user.preferences" class="item">
                            <a ui-sref="company-preferences.student-view({id:studentCandidate._id})" class="regularFont">
                                {{studentCandidate.fullName}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <ui-view></ui-view>
            </div>
            <!-- </div> -->
            <div class="row moreMarginTop centerText">
                <div class='col-md-12'>
                    <button class="btn btn-view moreMarginTop" ng-click="submit()">update preferences</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- <ul> -->
    <!-- <li ng-repeat="student in students" class="row"> -->
      <!-- <h2>{{user.fullName}}</h2> -->
<!-- <div class="row">
<div class="col-md-4">
  <ul ui-sortable class="apps-container" ng-model="user.preferences">
    <li ng-repeat="studentCandidate in user.preferences" class="item">
      <a ui-sref="company-preferences.student-view({id:studentCandidate._id})">{{studentCandidate.fullName}}</a>
    </li>
  </ul>
  </div>
  <div class='col-md-8'>
    <ui-view></ui-view>
  </div>
  </div> -->
     <!--  <ul ui-sortable="student.sortableOptions" class="col-md-4 apps-container list student-{{$index}}" ng-model="student.potentialCandidates">
        <li ng-repeat="potentialCandidate in student.potentialCandidates" class="item">{{potentialCandidate.name}}</li>
      </ul> -->

      <!-- <ul class="col-md-4 list logList">
    
        <li ng-repeat="entry in student.preferences track by $index" class="logItem">
          {{entry.name}}
        </li>
      </ul> -->
    <!-- </li> -->
  <!-- </ul> -->

  <!-- <button class="btn btn-view" ng-click="submit()">Update Preferences</button>-->

  <!-- <h1>Companies</h1>
  <div class="row">
  <ul>
    <li ng-repeat="company in companies" class="col-md-4 ">{{company.fullName}}
      <ul ui-sortable ng-model="company.preferences" class="list apps-container">
        <li ng-repeat="companyCandidate in company.preferences" class="item">{{companyCandidate.fullName}}</li>
      </ul>
    </li>
  </ul>
 </div> -->

  <!-- <button class="btn btn-default" ng-click="submit()">Submit</button> -->

  <!-- <button class="btn btn-default" ng-click="match()">Stable Marriage</button>
  <button class="btn btn-default" ng-click="arrange()">Speed Dates</button>
 -->
  <!-- <ul> -->
  <!-- <li ng-repeat="sortingLog in sortingLogs"> -->
  <!-- <ul class="list logList">
    <li ng-repeat="entry in sortingLog track by $index" class="logItem">
      {{entry}}
    </li>
  </ul> -->
  <!-- </li> -->
  <!-- </ul> -->

<!-- </div> -->
