.btn-primary {
    color: white;
    background-color: #DB2856;
    border: transparent;
}

.btn-primary {
    color: white;
    background-color: #DB2856;
    border: transparent;
}

.btn-primary.focus,
.btn-primary:focus {
    background-color: #4f88d8;
}

.btn-primary:active:hover {
    color: white;
    background-color: #9ac1f6;
    border-color: #DB2856;
}