.headerMessage {
    background: #fbfbfb;
    border-bottom: none;
    font-family: "FFTisaItalics";
    padding: 1%;
    box-shadow: 0px 0px 15px -5px #444;
    width: 100%;
    margin-bottom: 1%;
    input.form-control {
        border: 2px solid #444;
        margin-left: 25px;
    }
}

.headerTitle {
    margin-left: 25px;
}

.headerMessageLink {
    color: #444;
    text-decoration: underline;
}

.headerMessageLink:hover {
    color: #DB2856;
    text-decoration: none;
}