navbar {

  display: block;
  background: #DB2856;
  border-bottom: 1px solid #DB2856;
  box-shadow: 1px 1px 14px -3px black;
  font-family: "FFTisaMedium";

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 85px;
    width: 150px;
  }

  a {
    color: white;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      text-decoration: underline;
    }
    &:hover {
      background: none;
      color: #444;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    margin-top: 10px;
    background: white;
    outline: none !important;
    color: #DB2856;
    margin-right: 150px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: white;
      cursor: pointer;
    }
  }

}
