<div class="row main-head-row">
    <div class="container marginTopBottom">
        <div class="col-md-4">
            <h1 class="welcomeMessage"><a ui-sref="students">Back to students</a></h1>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form class="searchBar" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchString">
                    <!--  <div class="input-group-btn">
                        <button class="btn btn-search" ng-click="search()"><i class="fa fa-search"></i></button>
                    </div> -->
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container welcomeOptions valign-middle">
    <div class="col-md-12">
        <div class="mdl-card mdl-shadow--2dp studentCard">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="row moreMargin">
                    <img class="img-circle img-responsive img-center" src="http://www.fullstackacademy.com/img/team/JF.jpg?v=3&s=200" alt="">
                </div>
                <div class="row moreMargin title">
                    <h3><a>Jimmy Farrell</a></h3>
                </div>
                <div class="row moreMargin">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a href="https://linkedin.com/in/joshfinnie">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a href="https://github.com/joshfinnie">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="row moreMargin title">
                    <h3>Projects</h3>
                </div>
                <div class="row moreMargin">
                    <div class="col-md-6">
                        <div class="mdl-card mdl-shadow--2dp">
                        </div>
                    </div>
                    <div class="row moreMargin title">
                        <h3>Resume</h3>
                    </div>
                    <div class="row moreMargin">
                        <object data='http://www.highpoint.edu/theatre/files/2014/08/Sample-Resumes.pdf#' type='application/pdf' width='100%' height='100%'>
                            <p>It appears your Web browser is not configured to display PDF files. No worries, just <a href='http://www.highpoint.edu/theatre/files/2014/08/Sample-Resumes.pdf'>click here to download the PDF file.</a></p>
                        </object>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
