<!-- <div class="container options valign-middle">
    <project-thumb project="project" ng-repeat="project in projects"></project-thumb>
</div> -->
<div class="container options valign-middle">
    <div class=row ng-repeat="project in projects track by $index" ng-if="$index%4==0">
        <div class="col-xs-3" ng-repeat="i in [$index,$index+1,$index+2,$index+3]" ng-if="projects[i]!=null">
            <div class="panel panel-default bootcards-media studentCard">
                <img src="{{projects[i].logo}}" class="img-responsive" ui-sref="project-profile({id:projects[i]._id})" />
                <div class="panel-heading">
                    <h3 class="panel-title">{{project.title}}</h3>
                </div>
                <div class="panel-footer">
                    <div ng-repeat="technology in project.technologies | limitTo:3">
                        <div class="col-sm-12 col-md-2">
                            <button class="btn btn-view" ui-sref="technology({id:technology._id})">{{technology.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>