<!-- Showing all matches for students and candidates as well as time slots -->
<div class="container options valign-middle">
    <div class="marginTopBottom">
        <h3 class="topBottomHeader">Students Preferences</h3>
        <div class="row">
            <table class="table table-striped table-hover studentCard small-table" ng-repeat="student in students">
                <thead>
                    <tr>
                        <th>{{student.fullName}}</th>
                    </tr>
                </thead>
                <tbody class="regularFont">
                    <tr ng-repeat="candidate in student.preferences">
                        <td>{{candidate.fullName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="marginTopBottom">
        <h3 class="topBottom">Companies Preferences</h3>
        <div class="row">
            <table class="table table-striped table-hover studentCard small-table" ng-repeat="company in companies">
                <thead>
                    <tr>
                        <th>{{company.fullName}}</th>
                    </tr>
                </thead>
                <tbody class="regularFont">
                    <tr ng-repeat="candidate in company.preferences">
                        <td>{{candidate.fullName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="marginTopBottom">
        <h3 class="topBottom">Time Slots for Companies</h3>
        <div class="row">
            <table class="table table-striped table-hover studentCard small-table" ng-repeat="company in companies">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>{{company.fullName}}</th>
                    </tr>
                </thead>
                <tbody class="regularFont">
                    <tr ng-repeat="candidate in company.timeslots track by $index">
                        <td>{{timeslots[$index]}}</td>
                        <td>{{candidate.fullName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="marginTopBottom">
        <h3 class="topBottom">Time Slots for Students</h3>

        <div class="row">
            <table class="table table-striped table-hover studentCard small-table" ng-repeat="student in students">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>{{student.fullName}}</th>
                    </tr>
                </thead>
                <tbody class="regularFont">
                    <tr ng-repeat="candidate in student.timeslots track by $index">
                        <td>{{timeslots[$index]}}</td>
                        <td>{{candidate.fullName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>